{% extends 'App::layout.html.twig' %}

{% block subtitle 'Homepage' %}

{% block content %}
    <h1>Welcome to the KNP Rad Edition of Symfony2</h1>
    <a href="{{ path('app_contacts_index') }}">homepage.link.contact_list</a>
{% endblock content %}
